# Data Acquistion

Data was scraped from the research paper (Please cite this article as: Z. Zhang, Z. Zhao, B. Wang, J. Zhang, Boron Based Hypergolic Ionic Liquids:
A Review, Green Energy & Environment, https://doi.org/10.1016/j.gee.2020.12.002.)

In [66]:
#import library for scraping
import tabula

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# provide file path
file = r"C:\Users\valer\OneDrive\Desktop\USA application\boron.pdf"

#specify pages for scraping
pages = [21,22,23,24,25,26,27]

# get the datasets lists
df = tabula.read_pdf(file, pages = pages,  multiple_tables=True, encoding = 'ISO-8859-1', silent=True)

In [67]:
# create dataframes from a list

def list_to_df(df):
    d = 0
    data = pd.DataFrame()
    lst = []
    
    # iterate across all dfs in list (12)
    while d < 12:
        data = df[d]
        
        # append each of dfs to a list
        lst.append(data)
        data = pd.DataFrame()
        d += 1
        
    return lst

In [68]:
lst = list_to_df(df)

In [69]:
# create a list of columns to delete

def col_to_delete():
    
    # list of columns to delete
    to_delete = [3,4,6,8,11,12,15,16,17]

    new_list = []
    
    # iterate across a list and assign columns
    for i in to_delete:
        res = 'Unnamed: {}'.format(i)
        new_list.append(res)
        res = ''
        
    return new_list

In [70]:
new_list = col_to_delete()
new_list

['Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 6',
 'Unnamed: 8',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17']

In [71]:
# prepare dataframes

def columns_removal(lst):
    
    # prepare df1
    new_columns = [i for i in lst[0].columns if i not in new_list]
    new = pd.DataFrame()
    new = lst[0].filter(new_columns, axis=1)
    new.drop('Unnamed: 0', axis = 1, inplace = True)
    
    # prepare df2
    new1 = lst[2].drop(columns = ['Unnamed: 1', 'Unnamed: 5'])
    
    # prepare df3
    new2 = lst[3].drop(columns = ['Unnamed: 3', 'Unnamed: 4'])
    
    # prepare df4
    new3 = lst[5].drop(columns = ['Unnamed: 0'])
    
    # prepare df5
    new4 = lst[7].drop(columns = ['Unnamed: 0'])
    
    # prepare df6
    new5 = lst[8].drop(columns = ['Unnamed: 0'])
    
    # prepare df7
    new6 = lst[11]
    
    dataframes = [new, new1, new2, new3, new4, new5, new6]
    
    return dataframes

In [72]:
dataframes = columns_removal(lst)

In [73]:
# check if columns have same length

def same_length(dataframes):
    count = 0
    
    # iterate across dataframes
    for data in dataframes:
        length = len(data.columns)
        print('the length of dataframe {} is {}'.format(count, length))
        length = 0
        count += 1

In [74]:
same_length(dataframes)

the length of dataframe 0 is 9
the length of dataframe 1 is 9
the length of dataframe 2 is 9
the length of dataframe 3 is 9
the length of dataframe 4 is 9
the length of dataframe 5 is 9
the length of dataframe 6 is 9

In [75]:
# rename dataframes columns

def rename_columns(dataframes):
    for data in dataframes:
        data.columns = range(1,10)
    return dataframes

In [76]:
dataframes = rename_columns(dataframes)

In [77]:
# concatenate dataframes

def concat_dataframes(dataframes):
    total = pd.concat(dataframes, sort=False)
    return total

In [78]:
total = concat_dataframes(dataframes)
total

,1,2,3,4,5,6,7,8,9
0,Anion,NaN,NaN,-3,NaN,NaN,NaN,NaN,Ref
1,NaN,( ),),(g cm ) (mPa s),-1 ) o(KJ mol,-1,(ms),(s),NaN
2,[BH2(CN)2],< -80,307,0.96 17.3,NaN,NaN,28,NaN,26
3,[BH2(CN)2],< -80,222,0.91 3e9.4 -,NaN,NaN,6,NaN,26
4,[BH2(CN)2],< -80,189,0.93 r35.0,NaN,NaN,4,NaN,26
5,[BH2(CN)2] [BH2(CN)2],< -80 < -80,266 l 2a52,0P.99 0.96 12.4 19.8,NaN,NaN,8 18,NaN,26 26
6,[BH2(CN)2],< -80,203,1.00 13.5,NaN,NaN,6,NaN,26
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,[BH2(CN)2] urn< -80,NaN,303,0.92 22.3,NaN,NaN,26,NaN,26
9,[BH2J(CN)o2],< -80,259,0.94 16.6,NaN,NaN,8,NaN,26
10,[BH2(CN)2],< -80,220,0.99 29.9,NaN,NaN,32,NaN,26
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,[BH2(CN)2],< -80,217,1.03 21.0,NaN,NaN,6,NaN,26
14,[BH3CN],- 80,181,0.93 113,154.9,-5439,42,214,29
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,[BH3CN],-17,205,0.92 242,40.2,-4931,103,208,29
17,[BH3CN],-80,201,0.89 124,20.4,-6270,54,198,29
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,[BH3CN],41,127,0.94,282,-4744,NaN,228,29
20,[BH3CN],46,134,1.15,58.4,-4127,NaN,204,29
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,[BH3CN],-37,174,0.89 523,573.2,-8605,41,219,29
0,-23 [BH3CN],< -50,247,0.9582 21.68,(2.5) ro 379,(0.1),233,299,31
1,NaN,NaN,NaN,NaN,NaN,3.1,NaN,NaN,NaN
2,-24 -25 [BH3CN] [BH3CN],< -50 < -50,265 256,0.9533 0.9403 r25.56 16.62 --p6350 (3) e,237 -7037 (1) 289,(0.1) (0.15) 3.4,232 233,296 301,31 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,-7749,NaN,4.0,NaN,NaN,NaN
2,-26 [BH3CN],< -50,264 l 0.9P310,(1.5),366,(0.05),234,302,31
3,NaN,NaN,NaN,-10460,NaN,32.6(4.,NaN,NaN,NaN
4,-27 [BH3CN],< -5r0 n2a65,NaN,(2.5),536,6),234,299,31
5,-28 [BH3CNo] u42,NaN,215,460,-30,50,227,NaN,33
6,-29 [BHJ3CN],37,195,462,112,30,228,NaN,33
7,-30 [BH4],< -60,93.3,117.8,-5653,2,NaN,NaN,27
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-31 [BH4],< -60,99.9,38.9,-6539,38,NaN,NaN,27
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-32 [BH4],< -80,110.3,1743,-7766,8,198,NaN,35
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,-33 [BH4],129.9,-,25.4,-8585,40,186,NaN,35
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,-34 [BH4],13.7,115.7,-103.0,-13869,222,169,NaN,35
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,-35 [BH4],< -80,121.0,-89.0,-11195,342,172,NaN,35
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,-36 [BH4],< -80,120.8,314.2,-6921,3,213,NaN,35
0,-(CN)],-26,181,0.9348,17,167.2r5 o,2.4,199,36
1,[BH3(CN)BH2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,-37,261,0.9339,22,93.88,2,192.3,36
3,-(CN)],NaN,NaN,NaN,NaN,-p,NaN,NaN,NaN
0,-32 -(CN)],2a45,NaN,0.8859,25,-120.32,3.3,182.6,36
1,[BH3(CN)BH2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-(CN)] -22r n166,NaN,NaN,0.9011,14,29.11,2.1,193.6,36
3,ou< -70,203,NaN,1.1116,34.74,358.7,5,289.6,39
0,J,< -70,193,1.1281,52.12,471.6,8,289.6,39
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,< -70,241,1.1155,27.59,242.3,9,293.5,39
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,< -70,232,1.0784,30.66,216.2,32,290.8,39
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,< -70,224,1.0586,38.83,111.7,25,293.7,39
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,215,1.0464,22.48,97,38,292.7,39
11,NaN,< -70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,< -70,219,1.0353,59.63,83.2,57,292.8,39
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,< -70,193,1.1179,41.9,292.3,17,288.6,39
0,66,u< -7r0 n166,1.25,69,2,NaN,261,367,40
1,67,Jo < -70 149,1.28,25,2.555,NaN,264,375,40
2,68,< -70 233,1.12,7.1,NaN,1.4,184,206,41
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,69,< -70 231,1.1,11,NaN,6,177,195,41
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,70,< -70 228,1.15,7.4,NaN,3.2,195,224,41
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,71,-8 193,1.09,9.8,NaN,3.9,179,195,41
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,72,-47 200,1.08,16,NaN,7.5,173,187,41
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,73,< -70 175,1.17,9.3,NaN,2.6,183,214,41
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,74,< -70 180,1.13,14.6,NaN,7.1,180,203,41

In [79]:
#save data to csv
total.to_csv('cleaned_df.csv')

pd.set_option('display.max_rows', None)

# Data Cleaning

In [80]:
import pandas as pd
df = pd.read_csv(r'C:\Users\valer\OneDrive\Desktop\Python\cleaned.csv')

Cleaning plan

1. Delete a column Unnamed: 0, row 1, and reindex rows starting from 0
2. Column 1: leave only information that are in brakets. Write a function that will calculate the number of square brakets, if values are negative, create the column with bool, true/false values
3. column 2: remove '<' and other symbols except numbers, leave negative signs as they are. Must have only negative values with two digits, round values to integers
4. column 3: remove all unneccessary symbols, leave only numbers
5. column 4: split it in two columns as it has two values in the column. Leave only numbers
6. column 5: must contain only integers, convert to abs value
7. column 6: values must be an the order of thousands and negative. Replace all others with None
8. column 7: must contain only integers
9. column 8: must contain only integers
10. check if they are duplicates, Split the columns if a row has merged values like row 5, make sure to split it in,if so, drop duplicates

In [81]:
df.head()

,Unnamed: 0,1,2,3,4,5,6,7,8,9
0,0,Anion,NaN,NaN,-3,NaN,NaN,NaN,NaN,Ref
1,1,NaN,( ),),(g cm ) (mPa s),-1 ) o(KJ mol,-1.0,(ms),(s),NaN
2,2,[BH2(CN)2],< -80,307,0.96 17.3,NaN,NaN,28,NaN,26
3,3,[BH2(CN)2],< -80,222,0.91 3e9.4 -,NaN,NaN,6,NaN,26
4,4,[BH2(CN)2],< -80,189,0.93 r35.0,NaN,NaN,4,NaN,26

In [82]:
# Delete Unnamed: 0, row 1, and reindex rows starting from 0

df.drop('Unnamed: 0', axis = 1, inplace = True)
df.drop(0, axis = 0, inplace = True)

# list of elements to count
brakets = ['[', ']']

count = 0

# count the brakets, if count of values is less than 2, return 0 
# a cell cannot have a formula with less than 2 brakets
def new(df):
    
    count = 0
    
    # iterate across rows
    for row in range(df.shape[0]):
        
        # get each cell
        ele = str(df.iloc[row, 0])
        
        # check if cell has brakets
        for j in range(len(ele)):

            if ele[j] in brakets:
                count += 1
        # if number of brakets is less than 2, convert value to zero
        if count < 2: 
            df.iloc[row, 0] = 0

        ele = ''
        count = 0
        dfnew = df.copy()
        
    return dfnew

dfnew = new(df)

# assign column bool True if value is negative, else put False
dfnew['1'] = dfnew['1'].astype(str)
dfnew['bool'] = dfnew['1'].apply(lambda x: True if '-' in x else False)

# clean '1' column from negative signs
dfnew['1'] = dfnew['1'].str.replace('-', '')

# extract number to  separate columns from column 1
dfnew['numbers'] = dfnew['1'].str.replace('\[.+]', '')

# replace digits at the end of a cell with empty space
dfnew['1'] = dfnew['1'].str.replace('\d+\s', '')

# convert to numeric
dfnew['numbers'] = pd.to_numeric(dfnew['numbers'], errors='coerce')

In [83]:
# column 2: remove '<' and other symbols except numbers, leave negative signs as they are.

# replace '<' with empty space
dfnew['2'] = dfnew['2'].str.replace('<', '')

# convert to numeric
dfnew['2'].fillna(0, inplace = True)
dfnew['2'] = pd.to_numeric(dfnew['2'], errors='coerce')

In [84]:
# column 3: remove all unneccessary symbols, leave only numbers

# convert to numeric
dfnew['3'] = pd.to_numeric(dfnew['3'], errors='coerce')

In [85]:
# column 4: split it in two columns as it has two values in the column. Leave only numbers

# get two new columns
dfnew['4_1'] = dfnew['4'].str.split(' ', expand = True)[0]
dfnew['4_2'] = dfnew['4'].str.split(' ', expand = True)[1]

# drop unnecessary column
dfnew.drop('4', axis = 1, inplace = True)

# extract numbers from the newly formed columns
dfnew['4_1'] = dfnew['4_1'].str.extract(r'(\d+\.\d+)')
dfnew['4_2'] = dfnew['4_2'].str.extract(r'(\d+\.\d+)')

# convert to numeric and get the absolute values
dfnew['5'] = pd.to_numeric(dfnew['5'], errors='coerce')
dfnew['5'] = dfnew['5'].apply(lambda x: abs(x))

In [86]:
# column 6: values must be an the order of thousands and negative

# filter columns based on the negative sign
dfnew['6'] = dfnew['6'].apply(lambda x: x if '-' in str(x) else None)

# convert to numeric
dfnew['6'] = pd.to_numeric(dfnew['6'], errors='coerce')

# convert values that are less than 1000 to None
dfnew['6'] = dfnew['6'].apply(lambda x: x if x < -1000 else None)

# convert to numeric
dfnew['7'] = pd.to_numeric(dfnew['7'], errors='coerce')
dfnew['8'] = pd.to_numeric(dfnew['8'], errors='coerce')


dfnew.drop(1, axis = 0, inplace = True)
dfnew.fillna(0, inplace = True)

# convert type to numeric
dfnew['7'] = dfnew['7'].astype(int)
dfnew['8'] = dfnew['8'].astype(int)

# get two rows from a row with merged cells
dfnew = dfnew.set_index(['2','3','5','6','7','8','9', 'bool','numbers', '4_1', '4_2']).\
apply(lambda x: x.str.split(' ').explode()).reset_index()

In [87]:
# check for duplicates
dfnew.drop_duplicates(inplace = True, keep = 'last')

# drop a row if it does not contain a formula (brakets presence)
dfnew['1'] = dfnew['1'].apply(lambda x: x if '[' and ']' in x else 'No')

# filter a df based on the brakets presence
df_final = dfnew[dfnew['1'] != 'No']

# insert a column to the beginning of df
df_final.insert(0, 'Formula', df_final['1'])


df_final.drop('1', axis = 1, inplace = True)

# Cleaned dataframe

In [88]:
df_final

,Formula,2,3,5,6,7,8,9,bool,numbers,4_1,4_2
0,[BH2(CN)2],-80.0,307.0,0.0,0.0,28,0,26,False,0.0,0.96,17.3
1,[BH2(CN)2],-80.0,222.0,0.0,0.0,6,0,26,False,0.0,0.91,9.4
2,[BH2(CN)2],-80.0,189.0,0.0,0.0,4,0,26,False,0.0,0.93,35.0
5,[BH2(CN)2],0.0,0.0,0.0,0.0,0,0,26 26,False,0.0,0,0.96
6,[BH2(CN)2],-80.0,203.0,0.0,0.0,6,0,26,False,0.0,1.00,13.5
8,[BH2(CN)2],0.0,303.0,0.0,0.0,26,0,26,True,0.0,0.92,22.3
12,[BH2J(CN)o2],-80.0,259.0,0.0,0.0,8,0,26,False,0.0,0.94,16.6
13,[BH2(CN)2],-80.0,220.0,0.0,0.0,32,0,26,False,0.0,0.99,29.9
16,[BH2(CN)2],-80.0,217.0,0.0,0.0,6,0,26,False,0.0,1.03,21.0
17,[BH3CN],0.0,181.0,154.9,-5439.0,42,214,29,False,0.0,0.93,0
19,[BH3CN],-17.0,205.0,40.2,-4931.0,103,208,29,False,0.0,0.92,0
20,[BH3CN],-80.0,201.0,20.4,-6270.0,54,198,29,False,0.0,0.89,0
22,[BH3CN],41.0,127.0,282.0,-4744.0,0,228,29,False,0.0,0.94,0
23,[BH3CN],46.0,134.0,58.4,-4127.0,0,204,29,False,0.0,1.15,0
25,[BH3CN],-37.0,174.0,573.2,-8605.0,41,219,29,False,0.0,0.89,0
26,[BH3CN],-50.0,247.0,0.0,0.0,233,299,31,True,23.0,0.9582,21.68
30,[BH3CN],0.0,0.0,0.0,0.0,0,0,31 31,True,0.0,0.9533,0.9403
33,[BH3CN],-50.0,0.0,366.0,0.0,234,302,31.0,True,26.0,1.5,0
35,[BH3CN],0.0,0.0,536.0,0.0,234,299,31.0,True,27.0,2.5,0
36,[BH3CNo],0.0,215.0,30.0,0.0,227,0,33.0,True,0.0,0,0
39,[BHJ3CN],37.0,195.0,112.0,0.0,228,0,33.0,True,29.0,0,0
40,[BH4],-60.0,93.3,5653.0,0.0,0,0,27.0,True,30.0,117.8,0
42,[BH4],-60.0,99.9,6539.0,0.0,0,0,27.0,True,31.0,38.9,0
44,[BH4],-80.0,110.3,7766.0,0.0,198,0,35.0,True,32.0,0,0
46,[BH4],129.9,0.0,8585.0,0.0,186,0,35.0,True,33.0,25.4,0
48,[BH4],13.7,115.7,13869.0,0.0,169,0,35.0,True,34.0,103.0,0
50,[BH4],-80.0,121.0,11195.0,0.0,172,0,35.0,True,35.0,89.0,0
52,[BH4],-80.0,120.8,6921.0,0.0,213,0,35.0,True,36.0,314.2,0